.about-container {
    margin: 0 auto;
    text-align: center;
}

.about-section {
    background-color: #E0F7FA;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
}

.about-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #003366;
    display: flex;
    margin-bottom: 1rem;
    margin-left: 200px;
    margin-right: 20px;
}

.about-section p {
    margin-top: 1rem;
    margin-left: 200px;
    margin-right: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: center;
}
  
.motivation-section {
    background-color: rgb(167, 233, 243);
    padding: 2rem;
    box-sizing: border-box;
    text-align: left;
}

.motivation-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #A2C2E8(178, 213, 248);
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1100px;
    margin-right: 20px;
}

.motivation-section p {
    margin-top: 1rem;
    margin-left: 800px;
    margin-right: 150px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: right;
}

@media (max-width: 768px) {
.about-container {
    padding: 1rem;
}

.about-container h1 {
    font-size: 2rem;
}

.about-container p {
    font-size: 1rem;
}

.about-content h2 {
    font-size: 1.5rem;
}
}