.App {
  text-align: center;
}

textarea {
  width: 500px;
  height: 150px;
  border: 1px outset rgb(158, 163, 236);
  overflow: auto;
  box-shadow: 0px 5px 6px rgba(82, 67, 164, 0.1);
}

input {
  border: 1px outset rgb(158, 163, 236);
  overflow: auto;
  box-shadow: 0px 5px 6px rgba(82, 67, 164, 0.1);
}

body {
  background-color: #bbdefb;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #1565c0;
  padding: 15px;
}

.patient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 450px;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

#home_text{
  align-self: flex;
  text-align: center;
}

#submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

#submit-btn:hover {
  background-color: #576cb0;
  transform: scale(1.05);
}